.content{
    display: grid;
    align-items: flex-start;
    gap:5rem
}
@media(min-width:768px){
    .content{
        grid-template-columns: 3fr 2fr;
    }

}
.cart{
    padding: 3rem;
}

 .details{
    background-color: #f9fafb;
    padding: 3rem;
    border-radius: 1rem;
    position: sticky;
    top: 4rem;
}

/*** CART SNEAKER **/
.sneaker-cart{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2rem;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid #cfcfcf ;
}
.sneaker-cart:last-of-type{
    border: none;
}
@media (min-width:600px) {
    .sneaker-cart{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 4rem;
        align-items: center;
        padding: 3rem 0;
        border-bottom: 1px solid #cfcfcf ;
    }
}


.details-order p{
    margin: 0 0 1rem 0
}

.details-order h3{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.sneaker-cart img{
    height: 100%;
    width: auto;
    object-fit: cover;

}
.details-order .quantity,.details-order .size{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 1rem 0;
} 

.details-order .select-cart{
    display: block;
}


