/*** SNEAKERS-ON-SALE **/
.sneakers-sale .sneakers-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.course{
    background-position: center center;
    padding: 5rem 0;
}

@media(min-width: 768px){
    .sneakers-sale .sneakers-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
/*** COURSE **/
.course-grid .content{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.course-grid .content button{
    text-transform: uppercase;
    padding: 1rem 4rem;
    background-color: var(--black);
    color: var(--white);
    outline: none;
    border: 0;
    transition: background-color .3s;
    cursor: pointer;
}
.course-grid .content button:hover{
    background-color: var(--primary);

}

/*** LATEST-POSTS **/
.posts-grid{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width:768px){
    .posts-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


