:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --main-font: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--main-font);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="container"], 
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }
  
  /*** Header **/
.header{
  background-image: linear-gradient(to right, rgb(0 0 0 /.8 ),rgb(0 0 0 /.6)), url(/img/header.jpg);
  background-size: cover;
  background-position: center center;
  padding: 1rem 0;
}
.header .logo{
  width: 25rem;
}

.bar{
  display: flex;
  flex-direction: column;
  align-items: center;

}
@media (min-width: 768px) {
  .bar{
    flex-direction: row;
    justify-content: space-between;
  }
  .header{
  
    padding: 5rem 0;
  }
}

.header .navegation {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.header .navegation a{
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  padding: .5rem;
  font-size: 1.2rem;
}
.header .navegation a:hover{
  background-color: var(--primary);
}
.header .navegation a:active{
  background-color: var(--primary);
}
@media (min-width: 768px) {
  .header .navegation a{

    font-size: 1.6rem;
  }
  .header .navegation {
    margin-top: 0;
  }

}
.header .navegation a:hover, .active{
  background-color: var(--primary);
}