.blog{
    display: grid;
    grid-template-columns: 1fr;
    gap:3rem
}
.date{
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
}
.post .content h3{
    margin:0;
}

.post .summaryPost{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

}
@media (min-width:768px) {
    
    .blog{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:992px) {
    
    .blog{
        grid-template-columns: repeat(3,1fr);
    }
}

