.blog{
    display: grid;
    grid-template-columns: 1fr;
    gap:3rem
}
.date, .time-read{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.post .content h3{
    margin:0;
    color:var(--primary)
}
@media (min-width:768px) {
    
    .container .blog{
        display: flex;
        flex-wrap: wrap;
    }
    .container .post{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 40%;
    }
    .post img{
        flex: 1 1 auto;

    }
}
