.blog{
    display: grid;
    grid-template-columns: 1fr;
    gap:3rem
}
 

.post .content h3{
    margin:0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post .details{
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.post .summaryPost{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

}
.textPost, .summaryPost{
    text-align: justify;
    text-justify: inter-word;
}
.post .content img{
    aspect-ratio: 2/1;
    object-fit: cover;
    max-height: 20rem;
    width: auto;
    display: block;
    margin: 2rem auto;
}

.indPost img{
    max-height: 50rem;
    width: auto;
    object-fit: cover
}
.indPost .content{
    display: flex;
    flex-direction: column;
}
@media (min-width:768px) {
    
    .blog{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:992px) {
    
    .blog{
        grid-template-columns: repeat(3,1fr);
    }
}

