
.sneakers-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
@media (min-width: 600px){
    .sneakers-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 992px){
    .sneakers-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.sneaker{
    border-radius: 2rem;
    display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  max-height: 100vh;
    }
.sneaker .content h3{
 color:var(--primary);
 font-size:2.5rem;
 text-decoration: none;
 font-weight: 900;

}

.sneaker .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.8rem;
    flex: 1 1 auto;

}
.sneaker .price{
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1rem 0;
}
.sneaker .linkToProduct{
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color:var(--white);
    background-color: var(--black);
    display:block;
    transition: background-color .3s;
}
.sneaker .linkToProduct:hover{
    background-color: var(--primary);
}